$primaryTxt-color:#444;
$link-color:#ff7e00;
$secondTXT-color:#9d9b9b;
/*
background-color: #fff;
color: #444444;
color:#ff7e00;
background-color:#f4f4f4;
border-top:1px solid #d3d3d3;
border-bottom: 1px dotted #bebebd;
 border: 1px solid #cdcdcd;
  border-bottom:2px solid #c4c4c4 ;
   border-bottom: 1px dotted #c9c9c9;
   border-bottom: 1px dotted #c1c0c0;
*/