@import "header";
@import "subHeader";
@import "footer";
@import "home";
@import "about";
@import "contact";
@import "portfolio";
@import "portfolioPreview";
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
///////////////GLOBAL SECTION/////////////////////////////////
.background{
  background:url("../img/background.png") repeat;
  // height: 600px;
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR MOBILE DEVICE/////////////////////////////////
@media (max-width: 767px) {

  .rowContent {
    width: 581px;
    margin: 0 auto;
  }
}
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////FOR OTHER DEVICE//////////////////////////////////
@media (min-width: 768px){
  .rowContent{
    width: 1169px;
    margin: 0 auto;
  }
}
